
### direnv ###
.direnv/
.envrc

### dotenv ###
.env

# OS Junk
.DS_Store
Thumbs.db
settings.json
.vscode/

.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.task/
.venv/
*.cache
*.csv
*.xml
*.zip

local/
node_modules/

# retain files
!**.gitkeep
!**.gitignore
